body {
	margin: auto;
	padding-right: 1em;
	padding-left: 1em;
	max-width: 44em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	color: black;
	font-family: Verdana, sans-serif;
	font-size: 115%;
	line-height: 140%;
	color: #333;
}
pre {
	border: 1px dotted gray;
	background-color: #ececec;
	color: #1111111;
	padding: 0.5em;
}
code {
	font-family: monospace;
	background-color: #ececec;
	font-size: 115%;
}

.sourceCode {
 	overflow: auto;
    background-color: #ececec;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
	text-decoration: none;
	color: #7a5ada;
}
h1, h2, h3, h4, h5 { font-family: verdana;
	font-weight: bold;
	border-bottom: 1px dotted black;
	color: #7a5ada; }
h1 {
	font-size: 160%;
}

h2 {
	font-size: 135%;
}

h3 {
	font-size: 115%;
}

h4 {
	font-size: 90%;
	font-style: italic;
}

h5 {
	font-size: 80%;
	font-style: italic;
}

h1.title {
	font-size: 200%;
	font-weight: bold;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-align: left;
	border: none;
}

dt code {
	font-weight: bold;
}
dd p {
	margin-top: 0;
}

#footer {
	padding-top: 1em;
	font-size: 70%;
	color: gray;
	text-align: center;
}

.alert-info {
	color: #1b507e;
	background-color: #d6ebfd;
	border-color: #c6e2fc;
}

.alert-warning {
	color: #6e3d00;
	background-color: #f6e3cc;
	border-color: #f3d8b8;
}

.alert-danger {
	color: #6b0100;
	background-color: #f5cccc;
	border-color: #f1b8b8;
}

.alert-primary {
	color: #233951;
	background-color: #dae2eb;
	border-color: #cbd6e3;
}

.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}


table {
	width: auto;
	display: inline-block;
	overflow-x: auto;
	border:solid 1px black;
	border-collapse: collapse;
}

thead{
	background-color:aliceblue;
}


th,td {
	border-left: solid 1px black;
	padding: initial;
	padding: 5px
}

tr {
	border-bottom: solid 1px black;
	
}
